langchain
langchain-community
langgraph
langchain-anthropic
langchain-pinecone
langchain-huggingface
fastapi
uvicorn
python-dotenv
pinecone-client
faiss-cpu
tiktoken
pypdf
sentence-transformers
langchain-text-splitters
joblib 
shap
pandas
xgboost
scikit-learn
langchain-experimental
python-multipart
docx2txt
openpyxl
